<div ng-controller="SearchCtrl">
	<div class="bar">
		<h4>Search View</h4>
		<div style="margin-left: -15px">
			<!-- <input type="text" class="search-query" ng-model="searchString" placeholder="Search Keyword" />
			<button class="glyphicon glyphicon-search" ng-click='search(searchString)'>
			</button> -->
			<div class="col-lg-6">
				<div class="input-group">
			    	<input type="text" ng-model="searchString" class="form-control" placeholder="Enter Keyword...">
			    	<span class="input-group-btn">
			        <button ng-click='search(searchString)' class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
			      	</span>
			    </div>
			</div>
		</div>
	</div>
	</br></br></br>
	<div style="margin-left: -35px">
		<ul class="list-group">
			<ul ng-repeat="track in searchItems.results">
				<div class="panel panel-primary col-md-8" >
				  <div class="panel-body">
					<playlist track="track"></playlist>
					<button style="margin-left: -15px" type="button" class="btn btn-default btn-sm" ng-click='addToFave(track)' ng-disabled="added">
					  <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Add to Favorites
					</button>
				  </div>
				</div>				
			</ul>
			</br></br>
		</ul>
	</div>
</div>